@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bg: 0 0% 100%;
        --color-content0: 190 43% 97%;
        --color-content1: 0 0% 0%;
        --color-accent1: 219 70% 53%;
        --color-accent2: 326 70% 47%;
        --color-accent3: 44 96% 53%;
        --color-accent4: 274 70% 47%;
        --color-accent5: 291 70% 43%;
        --color-highlight: 0 0% 100%;
    }
    /* :root[data-theme="dark"] {
      --color-content0: 60 16% 91%;
      --color-bg: 218 19% 73%;
      --color-content1: 232 25% 54%;
      --color-content2: 247 27% 35%;
      --color-accent1: 256 28% 24%;
      --color-content3: 262 28% 21%;
      --color-accent2: 262 28% 21%;
      --color-highlight: 60, 16%, 91%;
    } */
    @layer utilities {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
          display: none;
        }
      
        .no-scrollbar {
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
        }
      }
  }