@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-bg: 0 0% 100%;
        --color-content0: 190 43% 97%;
        --color-content1: 0 0% 0%;
        --color-accent1: 219 70% 53%;
        --color-accent2: 326 70% 47%;
        --color-accent3: 44 96% 53%;
        --color-accent4: 274 70% 47%;
        --color-accent5: 291 70% 43%;
        --color-highlight: 0 0% 100%;
    }
    /* :root[data-theme="dark"] {
      --color-content0: 60 16% 91%;
      --color-bg: 218 19% 73%;
      --color-content1: 232 25% 54%;
      --color-content2: 247 27% 35%;
      --color-accent1: 256 28% 24%;
      --color-content3: 262 28% 21%;
      --color-accent2: 262 28% 21%;
      --color-highlight: 60, 16%, 91%;
    } */
    @layer utilities {
        /* Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
          display: none;
        }
      
        .no-scrollbar {
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */
        }
      }
  }
*{
  -webkit-text-size-adjust: none;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}