---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Purus">
		<div id="page-container" class="z-30 min-h-screen min-w-screen">
			<div id="page-container-inner" class="">
				<section data-speed="0" id="home-hero" class="parallax bg-gradient-to-b from-bg to-content-0 w-screen">
					<div class="flex flex-col justify-center items-center h-screen">
						<div class="absolute overflow flex left-0 top-0 justify-center bg-bg w-full h-auto border-b-2">
							<!-- <h1 class="text-4xl text-center">A better way to stay organized</h1> -->
							<div class="line opacity-0 md:opacity-100 gen-text flex flex-row gap-2 text-4xl justify-center items-center my-10">
								<div class="word">Purify your life with PURUS</div>
								<!-- <div class="word">A</div>
								<div class="word">better</div>
								<div class="word">way</div>
								<div class="word">to</div>
								<div class="word">stay</div>
								<div class="word">organized</div> -->
							</div>
						</div>
						<div class="flex h-full w-full justify-start items-end p-20">
							<!-- <div class="absolute top-80 right-80 flex justify-end w-80 text-sm">
								<div>Please note this is not a real company and thus you cannot use PURUS. PURUS is an imaginary software organizer application.</div>
							</div> -->
							<div class="flex flex-col justify-end gap-0 p-0 h-96">
								<div class="flex gen-text text-5xl text-large">
									<div class="word">HELLO</div>
								</div>
								<div class="flex gen-text text-lg md:text-5xl md:px-9 gap-4 h-16"><div class="word">Welcome to PURUS — your personal organizer</div></div>
							</div>
						</div>
						<!-- <div class="absolute justify-around items-start w-full h-screen pt-28">
							<div class="flex justify-center items-center h-full w-full px-20">
								<div class="flex flex-col justify-end items-start h-full w-full gap-y-10">
									<div class="line-main flex flex-row text-content-1 justify-between">
										<div class="word-main">Purify Your Chaos</div>
									</div>
									<div class="overflow w-80rem">
										<div class="line-sub flex flex-row h-32 text-content-1 justify-between translate-x-40">
											<div class="absolute flex justify-center items-center h-full w-40 -translate-x-40">
												<div class="bg-accent-4 h-14 w-14 rounded-full"> </div>
											</div>
											<div class="">With — PURUS</div>

										</div>
									</div>
								</div>
							</div>
						</div> -->
					</div>

				</section>
				<section id="home-demo" class="parallax relative bg-bg w-screen">
					<div class="absolute section w-full h-full">
						<div class="overflow bg-bg w-full h-full flex flex-col">
							<svg class="opacity-0 md:opacity-100 squiggle absolute top-24 z-0" viewBox="-15 0 1000 1040" fill="none" stroke="hsl(var(--color-accent2)/1)" xmlns="http://www.w3.org/2000/svg">
								<path d="M987.5 73C801.1 -40.2 537.503 44.4067 436 73C334.497 101.593 302.427 132.694 287.5 217C272.573 301.306 308.528 388.882 391.5 410C486.041 434.063 564.321 337.469 575 240.5C589.591 108 419.398 37.2102 287.5 56.5C103.286 83.4409 -49.5003 575 162.5 598.5C374.5 622 217 420 481 563.5C745 707 118.067 853.5 44.9999 1077C-28.0673 1300.5 44.9999 1508.5 162.5 1508.5C392.924 1508.5 551.215 1304.28 589.5 1235C645.316 1134 553.5 1076.33 499.5 1035C410 966.5 271 1077 271 1173.5C271 1298.21 491.954 1415.46 575 1508.5C672.236 1617.43 569.641 1662.51 712 1695C933.488 1745.55 1004.46 1610.02 1178.5 1464"
								stroke-width="20" stroke-linecap="round"
								/>
							</svg>
								
							<div class="flex justify-around items-center mb-24 h-40 pt-24 z-20">
								<div class="gen-text line flex gap-4 text-2xl md:text-5xl items-center h-full">
									<div class="word">Your</div>
									<div class="word">favorite</div>
									<div class="word">tool</div>
									<div class="word">to</div>
									<div class="word">organize</div>
								</div>
								<div class="hidden md:block">
									<div class="flex justify-center items-center h-full w-52">
										<div class="overflow button-hover bg-accent-3 h-20 w-60 rounded-full flex justify-around items-center p-6 cursor-pointer ease-linear duration-100 hover:scale-125 active:scale-95"> 
											<div class="z-20 button-dot bg-content-1 h-3 w-3 rounded-full"> </div>
											<div class="z-40 word text-2xl">Download</div>
										</div>
									</div>
								</div>
							</div>
							<div class="flex flex-col demo md:grid justify-evenly px-4 md:px-20 md:pb-20 gap-4 z-20 md:mt-40">
								<div data-speed="0.2" class="parallax card row-span-2 flex p-10 w-full h-full">
									<div class="flex flex-col justify-between content-center w-full h-full">
										<div class="flex justify-between w-full h-24">
											<div class="flex justify-center items-center w-24 h-24 rounded-xl bg-accent-1">
												<svg width="5vw" height="5vw" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M7 4V2.5" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>
													<path d="M17 4V2.5" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>
													<path d="M9 14.5L10.5 13V17" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
													<path d="M13 16V14C13 13.4477 13.4477 13 14 13C14.5523 13 15 13.4477 15 14V16C15 16.5523 14.5523 17 14 17C13.4477 17 13 16.5523 13 16Z" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>
													<path d="M21.5 9H16.625H10.75M2 9H5.875" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>
													<path d="M14 22H10C6.22876 22 4.34315 22 3.17157 20.8284C2 19.6569 2 17.7712 2 14V12C2 8.22876 2 6.34315 3.17157 5.17157C4.34315 4 6.22876 4 10 4H14C17.7712 4 19.6569 4 20.8284 5.17157C22 6.34315 22 8.22876 22 12V14C22 17.7712 22 19.6569 20.8284 20.8284C20.1752 21.4816 19.3001 21.7706 18 21.8985" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>
												</svg>
											</div>
											<div class="flex justify-center items-center text-6xl"><div class="hidden md:block word">Calendar</div></div>
										</div>
										<div class="flex flex-col justify-end w-full h-3/6 gap-4">
											<div class="line flex gap-4 p-4 rounded-2xl bg-content-0">
												<div class="hidden md:block word text-md md:text-2xl p-2">
													— 
												</div>
												<div class="word text-md md:text-2xl">
													Organize your weeks and set up notifications for upcoming events.
												</div>
											</div>
											<div class="line flex gap-4 p-4 rounded-2xl bg-content-0">
												<div class="hidden md:block word text-md md:text-2xl p-2">
													— 
												</div>
												<div class="word text-md md:text-2xl">
													Invite your co-workers, friends, and family in on your plans!
												</div>
											</div>
											<div class="line flex gap-4 p-4 rounded-2xl bg-content-0">
												<div class="hidden md:block word text-md md:text-2xl p-2">
													— 
												</div>
												<div class="word text-md md:text-2xl">
													Work together on any project life throws your way.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-speed="0.1" class="parallax card flex p-10 w-full h-full">
									<div class="flex flex-col justify-between content-center w-full h-full">
										<div class="flex justify-between w-full h-24">
											<div class="flex justify-center items-center w-24 h-24 rounded-xl bg-accent-2">
												<svg width="5vw" height="5vw" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
														<path d="M8 13H16C17.7107 13 19.1506 14.2804 19.3505 15.9795L20 21.5M8 13C6.28928 13 4.84936 14.2804 4.64948 15.9795L4 21.5M8 13V18C8 19.8856 8 20.8284 8.58579 21.4142C9.17157 22 10.1144 22 12 22C13.8856 22 14.8284 22 15.4142 21.4142C16 20.8284 16 19.8856 16 18V17" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>
														<circle cx="12" cy="6" r="4" stroke="hsl(var(--color-content1)/1)" stroke-width="1"/>
												</svg>
											</div>
											<div class="flex justify-center items-center text-5xl"><div class="hidden md:block word">Team Space</div></div>
										</div>
										<div class="flex flex-col justify-end w-full h-3/6 gap-4">
											<div class="line flex gap-4 p-4 rounded-2xl bg-content-0">
												<div class="hidden md:block word text-md md:text-2xl p-2">
													— 
												</div>
												<div class="word text-md md:text-2xl">
													A space where your team manages pages, meetings, and members.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-speed="0.05" class="parallax card flex p-10 w-full h-full">
									<div class="flex flex-col justify-between content-center w-full h-full">
										<div class="flex justify-between w-full h-24">
											<div class="flex justify-center items-center w-24 h-24 rounded-xl bg-accent-3">
												<svg width="5vw" height="5vw" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M15 12L12 12M12 12L9 12M12 12L12 9M12 12L12 15" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>
													<path d="M22 12C22 16.714 22 19.0711 20.5355 20.5355C19.0711 22 16.714 22 12 22C7.28595 22 4.92893 22 3.46447 20.5355C2 19.0711 2 16.714 2 12C2 7.28595 2 4.92893 3.46447 3.46447C4.92893 2 7.28595 2 12 2C16.714 2 19.0711 2 20.5355 3.46447C21.5093 4.43821 21.8356 5.80655 21.9449 8" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>													
												</svg>
											</div>
											<div class="flex justify-center items-center text-5xl text-right"><div class="hidden md:block word">Infinite</div></div>
										</div>
										<div class="flex flex-col justify-end w-full h-3/6 gap-4">
											<div class="line flex gap-4 p-4 rounded-2xl bg-content-0">
												<div class="hidden md:block word text-md md:text-2xl p-2">
													— 
												</div>
												<div class="word text-md md:text-2xl">
													As many pages as you need to keep your life pure.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-speed="0.1" class="parallax card flex p-10 w-full h-full">
									<div class="flex flex-col justify-between content-center w-full h-full">
										<div class="flex justify-between w-full h-24">
											<div class="flex justify-center items-center w-24 h-24 rounded-xl bg-accent-4">
												<svg width="5vw" height="5vw" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M20.9983 10C20.9862 7.82497 20.8897 6.64706 20.1213 5.87868C19.2426 5 17.8284 5 15 5H12C9.17157 5 7.75736 5 6.87868 5.87868C6 6.75736 6 8.17157 6 11V16C6 18.8284 6 20.2426 6.87868 21.1213C7.75736 22 9.17157 22 12 22H15C17.8284 22 19.2426 22 20.1213 21.1213C21 20.2426 21 18.8284 21 16V15" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>
													<path d="M3 10V16C3 17.6569 4.34315 19 6 19M18 5C18 3.34315 16.6569 2 15 2H11C7.22876 2 5.34315 2 4.17157 3.17157C3.51839 3.82475 3.22937 4.69989 3.10149 6" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>													
												</svg>
											</div>
											<div class="flex justify-center items-center text-5xl"><div class="hidden md:block word">Templates</div></div>
										</div>
										<div class="flex flex-col justify-end w-full h-3/6 gap-4">
											<div class="line flex gap-4 p-4 rounded-2xl bg-content-0">
												<div class="hidden md:block word text-md md:text-2xl p-2">
													— 
												</div>
												<div class="word text-md md:text-2xl">
													Observe and duplicate templates from others on PURUS.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div data-speed="0.05" class="parallax card flex p-10 w-full h-full">
									<div class="flex flex-col justify-between content-center w-full h-full">
										<div class="flex justify-between w-full h-24">
											<div class="flex justify-center items-center w-24 h-24 rounded-xl bg-accent-5">
												<svg width="5vw" height="5vw" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path d="M12 4L12 14M12 14L15 11M12 14L9 11" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
													<path d="M12 20C7.58172 20 4 16.4183 4 12M20 12C20 14.5264 18.8289 16.7792 17 18.2454" stroke="hsl(var(--color-content1)/1)" stroke-width="1" stroke-linecap="round"/>													
												</svg>
											</div>
											<div class="flex justify-center items-center text-5xl"><div class="hidden md:block word">Import</div></div>
										</div>
										<div class="flex flex-col justify-end w-full h-3/6 gap-4">
											<div class="line flex gap-4 p-4 rounded-2xl bg-content-0">
												<div class="hidden md:block word text-md md:text-2xl p-2">
													— 
												</div>
												<div class="word text-md md:text-2xl">
													Import your data from various applications (ex. google docs).
												</div>
											</div>
										</div>
									</div>
								</div>

							</div>
							<div data-speed="0.05" class="gen-text parallax relative flex flex-col gap-4 w-3/4 md:w-1/3 h-auto m-10 mx-4 md:mx-20 mt-32 line translate-y-40">
								<div class="text-3xl word"> Purus is the one and only organizer that you will ever need, giving you a fresh outlook of your notes. Our team at Purus aim to push you to purify your life.</div>
							</div>
							<div data-speed="0.05" class="parallax hidden md:block absolute top-3/4 right-0 md:w-1/2 h-96 bg-bg border-2 border-content-1 rounded-3xl p-10 mx-20">
								<div class="flex flex-col justify-center items-start w-full h-full text-sm md:text-2xl text-center italic gap-10">
									<div class="word">"I’ve been using Purus for the past four months and I’ve never been more organized! I’ve been on top of all of my work and haven’t missed a deadline. I was able to customize how I want to organize my space so I feel more motivated to do my work. Definitely download if you want to finish your work on time!"</div>
									<div class="px-10"> — Isabel Lopez </div>
								</div>
							</div>
						</div>
					</div>

				</section>
			<div id="page-extra" class="relative w-screen h-96 bg-gray-50 z-40">
				<div id="footer-main" class="w-full h-full">
					<div class="flex justify-start ml-10 md:ml-0 md:justify-center items-center w-full h-full p-20">
						<div class="flex w-1/2 h-full justify-evenly items-center gap-20 text-md md:text-2xl">
							<div class="flex flex-col w-full h-full justify start items start p-2">
								<a href="https://twitter.com/purushq"><div class="word">Twitter / X</div></a>
								<a href="https://www.instagram.com/purushq/"><div class="word">Instagram</div></a>
								<a href="https://www.linkedin.com/in/purus-undefined-3809552b7/"><div class="word">Linkedin</div></a>
							</div>
							<div class="flex flex-col w-full h-full start items start p-2">
								<div class="word">Email Contact</div>
								<a href="mailto: PURUS1029@GMAIL.COM"><div class="word">PURUS1029@GMAIL.COM</div></a>
							</div>
						</div>
					</div>
				</div>
				<div id="footer-bottom" class="absolute bottom-0 left-0 w-full h-20 border-2">
					<div class="flex justify-evenly items-center w-full h-full text-md md:text-2xl">
						<div>2023 PURUS</div>
						<div>Note PURUS is not a real company</div>
						<div>Built By PURUS</div>
					</div>
				</div>
			</div>
		</div>
</Layout>

<script>
import SplitType from 'split-type';
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger"
import { TextPlugin } from "gsap/TextPlugin";
gsap.registerPlugin(TextPlugin)
gsap.registerPlugin(ScrollTrigger);
if (window.innerWidth > 768){
	console.log(window.innerWidth);
	gsap.to(".parallax", {
	scrollTrigger: {
		scrub: true
	}, 
	y: (i, target) => -ScrollTrigger.maxScroll(window) * target.dataset.speed,
	ease: "none"
	});
}

//Type Effect

 let typeSplit = new SplitType('.gen-text', {
   types: 'lines, words, chars',
   tagName: 'span'
 })

 gsap.from('.gen-text .word', {
   y: '100%',
   opacity: 0,
   duration: 0.5,
   ease: 'power1.out',
   stagger: 0.1,
  
   scrollTrigger: {
     trigger: '.gen-text',
     start: 'top center',
    
   }
 })

</script>
<script>
const svg = document.querySelector('svg.squiggle')
const path = svg.querySelector('path')

const scroll = () => {
  const distance = window.scrollY
  const totalDistance = svg.clientHeight

  const percentage = distance / totalDistance/2
  const pathLength = path.getTotalLength()

  path.style.strokeDasharray = `${pathLength}`
  path.style.strokeDashoffset = `${pathLength * (1 - percentage)}`
}

scroll()
window.addEventListener('scroll', scroll)

</script>
<style>

.overflow{
	overflow: hidden;
}
.w-80rem {
	width: 90rem;
}
.-top-3\/8 {
	top: -37.5%
}
.line-main {
	width: 100%;
	line-height: 1;
}
.line-sub{
	font-size:4rem;
}
.word-main {
	font-size:10rem;
	font-weight: 500;
}
.gen-text{
	overflow: hidden;
}
.card {
	height: 100%;
	width: 100%;
	background-color: hsl(var(--color-bg)/1);
	border-radius: 1rem;
	border-width: 2px;
    border-color: hsl(var(--color-content-1)/1);
}

#home-hero{
	height:100vh;
}
#home-demo {
	height:450vh;
}


.button-hover > .button-dot {
	transition: 300ms cubic-bezier(.13,.53,.38,.97);
}
.button-hover > .word {
	transition: 300ms cubic-bezier(.13,.53,.38,.97);
}
.button-hover:hover > .button-dot {
	background-color: hsl(var(--color-accent1)/1) ;
	transform: scale(3000%);
	transition: 500ms cubic-bezier(.13,.53,.38,.97);
}
.button-hover:hover > .word {
	color: hsl(var(--color-content0)/1);
	transform: translateX(-7.5%);
	transition: 500ms cubic-bezier(.13,.53,.38,.97);

}
@media (min-width: 768px){
#home-demo {
	height:200vh;
}
.text-large{
    font-size: 18rem;
    line-height:0.9;
}
.demo{
	height: 90vh;
	grid-template-columns: 1fr 1fr 1fr;
}
}
</style>
